.version.about /* version checker */
{
	color: #0000E8;
	background-color: #97567D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#menuu123
{
	z-index: 2;
	width: 158px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -42px;
	left: 20px;
}

#u131
{
	width: 78px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u134
{
	width: 78px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u134:hover
{
	background-color: #999999;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u134:active
{
	background-color: #6B6B6B;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u136-4
{
	width: 78px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u134:hover #u136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u134:active #u136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u124
{
	width: 78px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u127
{
	width: 78px;
	background-color: #C4C4C4;
	padding-bottom: 17px;
	position: relative;
}

#u127.MuseMenuActive
{
	background-color: #999999;
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u128-4
{
	width: 78px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u134.MuseMenuActive #u136-4,#u127:hover #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u127:active #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

#u127.MuseMenuActive #u128-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 78px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u138
{
	z-index: 15;
	width: 559px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -20px;
	left: 201px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

