/* Set the initial state of the footer to hidden */
.footer {
  opacity: 0;
  background-color:  #03001C;
  color: #FFFFFF;
  transform: translateY(100%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

/* When the user scrolls down to the bottom of the page, show the footer */
.footer.show {
  opacity: 1;
  transform: translateY(0);
  height: 350px;
}
.footer .content {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

}
.footer .content a {
  color: white;
  outline: none; /* Remove default focus style */
  cursor: default; /* Prevent pointer from changing */
  margin: 2px;
  font-size: x-large;
}
.footer .content a:hover {
  color: #5B8FB9;
}