h1{
  margin-bottom: 45px;
  margin-top: 45px;
}
.article1 {
  border: 2px solid #242424;
  width: 200;
  height: 200;
  margin-bottom: 30vh;
}
.article1 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}
.article1 .content p {
  padding: 60px;
  color: #242424;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .article1 .content p {
    padding: 0;
  }
}